{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

  {% include "includes/current-user.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Seafarers assessments
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
      {{ govukButton({
        text: "Start a new assessment",
        href: "new-assessment"
      }) }}
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if data["newAssessment"] == "true" and data["question-1-answer"] | length < 1 %}

        {{ govukTable({
          caption: "Current assessments",
          firstCellIsHeader: false,
          head: [
            {
              text: "ID"
            },
            {
              text: "Candidate name"
            },
            {
              text: "Status"
            },
            {
              text: "Created"
            },
            {
              text: "Last updated"
            }
          ],
          rows: [
            [
              {
                html: "<a href='#' class='govuk-link'>3958</a>"
              },
              {
                html: "<a href='#' class='govuk-link'>" + data['candidate-name'] + "</a>"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--blue'>Sent</strong>"
              },
              {
                text: "12 March 2020"
              },
              {
                text: "12 March 2020"
              }
            ],
            [
              {
                html: "<a href='#' class='govuk-link'>3957</a>"
              },
              {
                html: "<a href='#' class='govuk-link'>Kirsty Smith</a>"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--blue'>Sent</strong>"
              },
              {
                text: "9 March 2020"
              },
              {
                text: "10 March 2020"
              }
            ],
            [
              {
                html: "<a href='#' class='govuk-link'>3959</a>"
              },
              {
                html: "<a href='#' class='govuk-link'>Martha Harris</a>"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>Passed</strong>"
              },
              {
                text: "9 March 2020"
              },
              {
                text: "10 March 2020"
              }
            ],
            [
              {
                html: "<a href='#' class='govuk-link'>3961</a>"
              },
              {
                html: "<a href='#' class='govuk-link'>Richard Johnson</a>"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--red'>Not passed</strong>"
              },
              {
                text: "9 March 2020"
              },
              {
                text: "10 March 2020"
              }
            ]
          ]
        }) }}

      {% elseif data["newAssessment"] == "true" and data["question-1-answer"] | length > 1 and data["question-1-mark"] | length < 1 %}

        {{ govukTable({
          caption: "Current assessments",
          firstCellIsHeader: false,
          head: [
            {
              text: "ID"
            },
            {
              text: "Candidate name"
            },
            {
              text: "Status"
            },
            {
              text: "Created"
            },
            {
              text: "Last updated"
            }
          ],
          rows: [
            [
              {
                html: "<a href='/assessments/3958' class='govuk-link'>3958</a>"
              },
              {
                html: "<a href='/assessments/3958' class='govuk-link'>" + data['candidate-name'] + "</a>"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--orange'>Received</strong>"
              },
              {
                text: "12 March 2020"
              },
              {
                text: "12 March 2020"
              }
            ],
            [
              {
                html: "<a href='#' class='govuk-link'>3957</a>"
              },
              {
                html: "<a href='#' class='govuk-link'>Kirsty Smith</a>"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--blue'>Sent</strong>"
              },
              {
                text: "9 March 2020"
              },
              {
                text: "10 March 2020"
              }
            ],
            [
              {
                html: "<a href='#' class='govuk-link'>3959</a>"
              },
              {
                html: "<a href='#' class='govuk-link'>Martha Harris</a>"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>Passed</strong>"
              },
              {
                text: "9 March 2020"
              },
              {
                text: "10 March 2020"
              }
            ],
            [
              {
                html: "<a href='#' class='govuk-link'>3961</a>"
              },
              {
                html: "<a href='#' class='govuk-link'>Richard Johnson</a>"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--red'>Not passed</strong>"
              },
              {
                text: "9 March 2020"
              },
              {
                text: "10 March 2020"
              }
            ]
          ]
        }) }}

        {% elseif data["newAssessment"] == "true" and data["question-1-answer"] | length > 1 and data["question-1-mark"] | length > 1 %}

          {{ govukTable({
            caption: "Current assessments",
            firstCellIsHeader: false,
            head: [
              {
                text: "ID"
              },
              {
                text: "Candidate name"
              },
              {
                text: "Status"
              },
              {
                text: "Created"
              },
              {
                text: "Last updated"
              }
            ],
            rows: [
              [
                {
                  html: "<a href='/assessments/3958' class='govuk-link'>3958</a>"
                },
                {
                  html: "<a href='/assessments/3958' class='govuk-link'>" + data['candidate-name'] + "</a>"
                },
                {
                  html: "<strong class='govuk-tag govuk-tag--green'>Passed</strong>"
                },
                {
                  text: "12 March 2020"
                },
                {
                  text: "12 March 2020"
                }
              ],
              [
                {
                  html: "<a href='#' class='govuk-link'>3957</a>"
                },
                {
                  html: "<a href='#' class='govuk-link'>Kirsty Smith</a>"
                },
                {
                  html: "<strong class='govuk-tag govuk-tag--blue'>Sent</strong>"
                },
                {
                  text: "9 March 2020"
                },
                {
                  text: "10 March 2020"
                }
              ],
              [
                {
                  html: "<a href='#' class='govuk-link'>3959</a>"
                },
                {
                  html: "<a href='#' class='govuk-link'>Martha Harris</a>"
                },
                {
                  html: "<strong class='govuk-tag govuk-tag--green'>Passed</strong>"
                },
                {
                  text: "9 March 2020"
                },
                {
                  text: "10 March 2020"
                }
              ],
              [
                {
                  html: "<a href='#' class='govuk-link'>3961</a>"
                },
                {
                  html: "<a href='#' class='govuk-link'>Richard Johnson</a>"
                },
                {
                  html: "<strong class='govuk-tag govuk-tag--red'>Not passed</strong>"
                },
                {
                  text: "9 March 2020"
                },
                {
                  text: "10 March 2020"
                }
              ]
            ]
          }) }}

      {% else %}

        {{ govukTable({
          caption: "Current assessments",
          firstCellIsHeader: false,
          head: [
            {
              text: "ID"
            },
            {
              text: "Candidate name"
            },
            {
              text: "Status"
            },
            {
              text: "Created"
            },
            {
              text: "Last updated"
            }
          ],
          rows: [
            [
              {
                html: "<a href='#' class='govuk-link'>3957</a>"
              },
              {
                html: "<a href='#' class='govuk-link'>Kirsty Smith</a>"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--blue'>Sent</strong>"
              },
              {
                text: "9 March 2020"
              },
              {
                text: "10 March 2020"
              }
            ],
            [
              {
                html: "<a href='#' class='govuk-link'>3959</a>"
              },
              {
                html: "<a href='#' class='govuk-link'>Martha Harris</a>"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>Started</strong>"
              },
              {
                text: "9 March 2020"
              },
              {
                text: "10 March 2020"
              }
            ],
            [
              {
                html: "<a href='#' class='govuk-link'>3961</a>"
              },
              {
                html: "<a href='#' class='govuk-link'>Richard Johnson</a>"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--red'>Not passed</strong>"
              },
              {
                text: "9 March 2020"
              },
              {
                text: "10 March 2020"
              }
            ]
          ]
        }) }}

      {% endif %}

    </div>
  </div>



{% endblock %}
