{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

  {% include "includes/current-user.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Seafarers assessments
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
      {{ govukButton({
        text: "Start a new assessment",
        href: "#"
      }) }}
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ govukTable({
        caption: "Current assessments",
        firstCellIsHeader: false,
        head: [
          {
            text: "ID"
          },
          {
            text: "Candidate name"
          },
          {
            text: "Status"
          },
          {
            text: "Created"
          },
          {
            text: "Last updated"
          }
        ],
        rows: [
          [
            {
              html: "<a href='#' class='govuk-link'>3957</a>"
            },
            {
              html: "<a href='#' class='govuk-link'>Kirsty Smith</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--orange'>Sent</strong>"
            },
            {
              text: "9 March 2020"
            },
            {
              text: "10 March 2020"
            }
          ],
          [
            {
              html: "<a href='#' class='govuk-link'>3959</a>"
            },
            {
              html: "<a href='#' class='govuk-link'>Martha Harri</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--green'>Started</strong>"
            },
            {
              text: "9 March 2020"
            },
            {
              text: "10 March 2020"
            }
          ],
          [
            {
              html: "<a href='#' class='govuk-link'>3961</a>"
            },
            {
              html: "<a href='#' class='govuk-link'>Richard Johnson</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--red'>Failed</strong>"
            },
            {
              text: "9 March 2020"
            },
            {
              text: "10 March 2020"
            }
          ]
        ]
      }) }}

    </div>
  </div>



{% endblock %}
